# Native third-party / generated build inputs
ffmpeg-decoder/src/main/cpp/** linguist-vendored
ffmpeg-decoder/include/** linguist-vendored
ffmpeg-decoder/android-libs/** linguist-vendored
ffmpeg-decoder/src/main/jniLibs/** linguist-vendored
lyrico-audiotag/src/main/cpp/** linguist-vendored
lyrico-audiotag/src/main/jniLibs/** linguist-vendored
lyrico-audiotag/include/** linguist-vendored

# Binary native outputs
*.so linguist-vendored
*.a linguist-vendored